 <footer class="footer py-4">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-4 text-lg-start"></div>
              <div class="col-lg-4 my-3 my-lg-0">
              </div>
              <div class="col-lg-4 text-lg-end hidden">
                  <a class="link-dark text-decoration-none me-3" href="#!"></a>
                  <a class="link-dark text-decoration-none" href="#!"></a>
              </div>
          </div>
      </div>
  </footer>