<section class="page-section bg-light" id="invoice">
  <%= render partial: '/invoices/header', locals: { invoice: @invoice } %>

  <main class="d-flex flex-nowrap">
    <%= render partial: '/invoices/sidebar' %>
    <div class="w-100 d-flexalign-items-stretch bg-white" >
      <%= render partial: "index", locals: { versions: @versions } %>
    </div>
  </main>
</section>
