<section class="page-section bg-light" id="invoice">
  <div class="w-100">
    <div class="text-center">
      <h3 class="section-heading text-uppercase"><%= @invoice.name %>
      </h3>
    </div>
  </div>
  <main class="d-flex flex-nowrap">
    <%= render partial: 'sidebar' %>
    <div class="w-100 d-flexalign-items-stretch bg-white" >
      <% if params.has_key?(:view) %>
        <%= render partial: "paper_trail/versions/index", locals: { versions: @versions } %>
      <% else %>    
        <%= render partial: "line_items/index", locals: { line_items: @invoice.line_items.order(:id) } %>
      <% end %>
    </div>
  </main>
</section>
