@import "core/universal";

.page-section {
  padding: 0;
}

.page-section h2.section-heading,
.page-section .section-heading.h2 {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: var(--bs-primary);
}

.page-section h3.section-heading{
  color: var(--bs-primary);
}

.page-section h3.section-subheading,
.page-section .section-subheading.h3 {
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: var(--bs-primary);
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  section {
    padding: 9rem 0;
  }
}


.primary-color {
  color: var(--bs-primary);
}

.pagy-bootstrap-nav {
  margin: auto;
  width: 12%;
}

.center-block {
  display: table;
  /* Instead of display:block */
  margin: auto;
}

.search-field-container-box {
  position: relative;
  padding: .5rem 0;
}

.search-field {
  position: absolute !important;
  width: 30% !important;
  right: 25px;
  top: 8px;
}

.center-button {
  position: absolute;
  top: .5rem;
  right: 50%;
}

.invoice-header {
  padding: .5rem ;
  display: inline-block;

  h3 {
    width: 33%;
  }
}

.center-header {
  margin: 0;

  @media screen and (min-width: 1300px) {
    margin: auto;
    line-height: 5rem;
  }
}